<!doctype html>
<html>
<head>
  <meta charset=UTF-8>
  
  <title>Интернет магазин</title>
  
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/messi.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
  <link rel=stylesheet href="/stylesheets/bootstrap.css">
  <link rel=stylesheet href="/stylesheets/bootstrap-theme.css">
  <link rel=stylesheet href="/stylesheets/custom.css">
  <link rel=stylesheet href="/stylesheets/messi.min.css">
  <link href="/stylesheets/landing-page.css" rel="stylesheet">
  <link href="/stylesheets/heroic-features.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link rel=stylesheet href="/stylesheets/dropdown.css">
</head>
<body>


<!--HEADER--> 
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="pull-left brand" href="/"></a>
        <div class="navbar-brand navbar-brand-centered">
            <a href="/cart">Корзина (
                  {% if item_count %}
                    {{ item_count|int }}
                  {% else %}
                    0
                  {% endif %})</a>
            <img class="spinner" src="http://www.dhp11.com/foswiki/pub/Internal/2012-06-12/spinner.gif" height="20px" width="20px" />
        </div>
        <ul class="navbar-right navbar-brand" >
            {% if not user %}
                <p><a href="/login">Войти</a>|<a href="/signup">Регистрация</a></p>
            {% else %}
            <p style="font-color:black">Привет, <a href="#">{{ user.name }}</a> | <a href="/logout">Выйти</a></p>
            {% endif %}
        </ul>
    </div>
  </div>
</div>

  


<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Искать ...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" >Поиск</button>
        </span>
      </div><!-- /input-group -->
      <div>
      
      <div class="list-group"></div>
          </div>
    </div>
  </div><!-- /.row -->
</div>


<nav class="navbar navbar-default navbar-static">
 <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <p class="navbar-brand" >Категории</p>
 </div>
 {% if categories %}
  {% for category in categories|sort(attribute='_id') %}
    <div class="collapse navbar-collapse js-navbar-collapse col-md-12">
      <ul class="nav navbar-nav">
       <li class="dropdown dropdown-large ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{category.name}} <b class="caret"></b></a>
            <ul class="dropdown-menu dropdown-menu-large row ">
              {% set found_subcategory = 0 %}
              {% for subcategory in subcategories %}
                {% if subcategory.category == category.name %}
                  {% if found_subcategory == 0 %}
                    <li class="col-sm-6">
                      <ul>
                    {% set found_subcategory = 1 %}
                  {% endif %}
                      <li class="dropdown-header">{{subcategory.name}}</li>
                      <li><a href="/subcategory/{{category._id}}/{{subcategory._id}}">{{subcategory.name}}</a></li>
                      <li class="divider"></li>
                {% endif %}
              {% endfor %}
              {% if found_subcategory == 1 %}
                  </ul>
                 </li>
              {% endif %}
            </ul>
        </li>
      </ul>
    </div>
    {% endfor %}
  {% endif %} 
 </nav>

<div class="container">
{% block body %} {% endblock %}
</div>

<!-- FOOTER BEGINS HERE -->
<footer>
  <nav>
    <ul class="footer">
        <div class="container">
          <a href="/about">About</a>    |    Казахстан, Астана  |     Copyright &copy; 2015
        </div>
    </ul>
  </nav>
</footer>
<!-- FOOTER ENDS HERE -->



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/application.js"></script>
{% block include_template %}{% endblock %}




          <script>
          $(document).ready(function () {
              $(".spinner").hide();
              var valThis = "";
              var last = "#$%^@%#";
              $(".form-control").keyup(function() {
                valThis = $(this).val().toLowerCase();
                setTimeout(function() {  
                   valThis = $(".form-control").val().toLowerCase();
                   if (last == valThis)
                      return;
                   last = valThis;
                   $.ajax({
                    type: "POST",
                    url: "/lookfor",
                    dataType: 'json',
                    data: JSON.stringify({"item": valThis})
                  })
                  .always(function (data) {
                    $(".list-group").empty();
                    var items = data['items'];
                    for (var i = 0; i < items.length; i++) {
                      $(".list-group").append('<a href="http://google.com" class="list-group-item">'+items[i]+'</a>');
                    } 
                    if (items.length == 0) {
                      $(".list-group").append('<p class="no-results-found">No results found.</p>');
                    } 
                  });
                }, 800);
              });
              $(document)
                .ajaxStart(function () {
                  $(".spinner").show();
                })
                .ajaxStop(function () {
                  $(".spinner").hide();
                });
          });      
          </script>


</body>
</html>
