<!doctype html>
<html>
<head>
  <meta charset=UTF-8>
  
  <title>Интернет магазин</title>
  
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/messi.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
  <link rel=stylesheet href="/stylesheets/bootstrap.css">
  <link rel=stylesheet href="/stylesheets/bootstrap-theme.css">
  <link rel=stylesheet href="/stylesheets/custom.css">
  <link rel=stylesheet href="/stylesheets/messi.min.css">
  <link href="/stylesheets/landing-page.css" rel="stylesheet">
  <link href="/stylesheets/heroic-features.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link rel=stylesheet href="/stylesheets/dropdown.css">
</head>
<body>


<!--HEADER--> 
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="pull-left brand" href="/"></a>
        <div class="navbar-brand navbar-brand-centered">
            <a href="/cart">Корзина (
                  <span class="itemCount">{% if item_count %}
                    {{ item_count|int }}
                  {% else %}
                    0
                  {% endif %}</span>)</a>
            <img class="spinner" src="http://www.dhp11.com/foswiki/pub/Internal/2012-06-12/spinner.gif" height="20px" width="20px" />
        </div>
        <ul class="navbar-right navbar-brand" >
            {% if not user %}
                <p><a href="/login">Войти</a>|<a href="/signup">Регистрация</a></p>
            {% else %}
            <p style="font-color:black">Привет, <a href="#">{{ user.name }}</a> | <a href="/logout">Выйти</a></p>
            {% endif %}
        </ul>
    </div>
  </div>
</div>

  


<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Искать ...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" >Поиск</button>
        </span>
      </div><!-- /input-group -->
      <div>
      
      <div class="list-group"></div>
          </div>
    </div>
  </div><!-- /.row -->
</div>


<nav class="navbar navbar-default navbar-static">
 <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <p class="navbar-brand" >{% if categories %}Категории{% endif %}</p>
 </div>
 {% if categories %}
  {% for category in categories|sort(attribute='_id') %}
    <div class="collapse navbar-collapse js-navbar-collapse col-md-12">
      <ul class="nav navbar-nav">
       <li class="dropdown dropdown-large ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{category.name}} <b class="caret"></b></a>
            <ul class="dropdown-menu dropdown-menu-large row ">
              {% set found_subcategory = 0 %}
              {% for subcategory in subcategories %}
                {% if subcategory.category == category.name %}
                  {% if found_subcategory == 0 %}
                    <li class="col-sm-6">
                      <ul>
                    {% set found_subcategory = 1 %}
                  {% endif %}
                      <li class="dropdown-header">{{subcategory.name}}</li>
                      <li><a href="/subcategory/{{category._id}}/{{subcategory._id}}">{{subcategory.name}}</a></li>
                      <li class="divider"></li>
                {% endif %}
              {% endfor %}
              {% if found_subcategory == 1 %}
                  </ul>
                 </li>
              {% endif %}
            </ul>
        </li>
      </ul>
    </div>
    {% endfor %}
  {% endif %} 
 </nav>

<div class="container-fluid">
  <div class="row">

{% if is_home != 1 %}
    <div class="col-sm-3 col-md-3">
      Place for filter
    </div>
{% endif %}
{% if is_home != 1 %}
    <div class="col-sm-6 col-md-6">
{% else %}
    <div class="col-sm-12 col-md-12">
{% endif %}
      {% block body %} {% endblock %}
    </div>
{% if is_home != 1 %}
    <div class="col-sm-3 col-md-3">
   {% if user%}
      <table class="table table-hover">
          <thead>
              <tr>
                <th>Маркет</th>
                <th>Сумма</th>
              </tr>
          </thead>
          <tbody class = "table_of_stores">
            {% for store in store_list %}
              <tr>
                <td>{{store.name}}</td>
                <td class = "my_store{{store._id}}"> {% if store._id|string in store_total %}{{store_total[store._id|string]}}{% else %} 0 {% endif %} тг</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>


      <table class="table table-hover">
          <thead>
              <tr>
                <th >Продукт</th>
                <th >Количество</th>
                <th >Цена</th>
                <th >Удалить?</th>                    
              </tr>
          </thead>
          <tbody class = "table_of_items">
          {% if item_list %}
             {% for item_, cost in item_list: %}
                  <tr  class="my_item{{item_[0]._id}}">
                    <td > {{ item_[0].name }} </td>
                    <td > {{ (cost / item_[0].price)|round|int }} </td>
                    <td > {{ (cost) |round|int }} тг </td>
                    <td > <img src="/static/delete.png" height="20" width="20"></td>
                    <script>
                    $(".container-fluid > .row > .col-sm-3 > table > .table_of_items > .my_item{{item_[0]._id}} > td > img").click(function () {
                      removeItem("my_item{{item_[0]._id}}", "{{item_[0]._id}}", '{{item_[0].name|safe}}');
                    });
                    </script>
                  </tr>
              {% endfor %}
          {% endif %}
          </tbody>
      </table>      

    {% else %}
    {% endif %}
    {% endif %}
    </div>
  </div>
</div>

<!-- FOOTER BEGINS HERE -->
<footer>
  <nav>
    <ul class="footer">
        <div class="container">
          <a href="/about">About</a>    |    Казахстан, Астана  |     Copyright &copy; 2015
        </div>
    </ul>
  </nav>
</footer>
<!-- FOOTER ENDS HERE -->



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/application.js"></script>
{% block include_template %}{% endblock %}




          <script>
          $(document).ready(function () {
              $(".spinner").hide();
              var valThis = "";
              var last = "#$%^@%#";
              $(".form-control").keyup(function() {
                valThis = $(this).val().toLowerCase();
                setTimeout(function() {  
                   valThis = $(".form-control").val().toLowerCase();
                   if (last == valThis)
                      return;
                   last = valThis;
                   $.ajax({
                    type: "POST",
                    url: "/lookfor",
                    dataType: 'json',
                    data: JSON.stringify({"item": valThis})
                  })
                  .always(function (data) {
                    $(".list-group").empty();
                    var items = data['items'];
                    for (var i = 0; i < items.length; i++) {
                      $(".list-group").append('<a href="http://google.com" class="list-group-item">'+items[i]+'</a>');
                    } 
                    if (items.length == 0) {
                      $(".list-group").append('<p class="no-results-found">No results found.</p>');
                    } 
                  });
                }, 800);
              });
              $(document)
                .ajaxStart(function () {
                  $(".spinner").show();
                })
                .ajaxStop(function () {
                  $(".spinner").hide();
                });
          });      
          </script>


</body>
</html>
