{% extends "base_for_forum.html" %}

{% block body %}
 <link rel=stylesheet href="/stylesheets/forum.css">
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

<div class="container">
  <div class="row">
    <hr class="hr-success" />
    <ol class="breadcrumb bread-success">
      <a href="/forum"><button class="btn btn-success"><i class="fa fa-life-ring"></i> Форум</button></a>
    </ol>
  </div> 
</div>

<div class="container">
  <div class="row">
  <div class="col-md-12">
    {% for forum in forums %}
      <div class="oaerror success">
        <a href="forum/{{forum.name}}">
         <div class="container">
         <div class="row">
         <div class="col-md-10">{{forum.aty}}</div>
         <div class="col-md-2 pull-right">Тем {{forum.posts}}</div>
        </div>
        </div>
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</div>




{% endblock %}