{% extends "base_for_forum.html" %}
{% block body %}
<link rel=stylesheet href="/stylesheets/forum.css">
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

<div class="container">
  <div class="row">
    <hr class="hr-success" />
    <ol class="breadcrumb bread-success">
      <a href="/forum"><button  class="btn btn-success"><i class="fa fa-life-ring"></i> Форум</button></a>
      <li><a href="/forum/{{post.forum_name}}">{{post.forumnyn_aty}}</a></li>
      <li class="active">{% if post.text != None %}{{post.title}}{%endif%}</li>
    </ol>
  </div> 
</div>

{% if post.text != None %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="alert-message alert-message-success">
            <h4>{{post.title}}</h4>
            <h5>{{post.text|linebreaks}}</h5>
            <p style="font-size:10pt;color:red;" class="pull-right">отправил(a) {{post.author}} в {{post.time}}</p>
          </div>
        </div>
    </div>
</div>
{% endif %}

{% for comment in comments %}
<div class="container">
  <div class="qa-message-list" id="wallmessages">
    <div class="message-item" id="m16">
      <div class="message-inner">
        <div class="message-head clearfix">
          <div class="avatar pull-left"><a href="#"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
          <div class="user-detail">
            <h5 class="handle">{{comment.sender}}</h5>
            <div class="post-meta">
              <div class="asker-meta">
                <span class="qa-message-what"></span>
                <span class="qa-message-when">
                  <span class="qa-message-when-data">{{comment.time}}</span>
                </span>
                <span class="qa-message-who">
                  <span class="qa-message-who-pad">by </span>
                  <span class="qa-message-who-data"><a href="#">{{comment.sender}}</a></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="qa-message-content">
          {{comment.text|linebreaks}}
        </div>
      </div>
    </div>        
  </div>
</div>
{% endfor %}

<div class="container">
  <div class="row">
    <h4>Написать комментарий</h4>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="widget-area no-padding blank">
          <div class="status-upload">
            <form role="form" action="/forum/{{post.forum_name}}/{{post.reference}}" method="post">
              <div class = "required-field-block">  
                <textarea name="text" class="form-control" placeholder="Введите комментарий..." ></textarea>
              </div>
              <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Ответить</button>
              <ol style="visibility:hidden;"></ol>
              <input  type="hidden" name="sender" class="form-control" value={{viewer.auth_ids}}>
              <input  type="hidden" name="recipient" class="form-control" value="/forum/{{post.forum_name}}">
            </form>
          </div><!-- Status Upload  -->
        </div><!-- Widget Area -->
      </div>
    </div>
</div>



{% endblock %}
