{% extends "base.html" %}
{% block body %} 
        {% set pos = 0 %}
          {% if items %}
              {% for item in items %}
                  {% if pos is divisibleby 3 %}
                    {% if pos == 0 %}
                    {% else %}
                  </div>

                    {% endif %}
                    {% if pos == items_size %}
                    {% else %}
                  <div class = "row">
                    {% endif %}
                  {% endif %}
                      <div class = "span3 tile">
                          <img src="{{item.image}}" width="200px" height="200px" />
                          <div class="grey_bar">
                              <p class="lead"> {{ item.name }}</p>
                          </div>

                          <div class = "addcenter">
                                <button class='plus{{pos}}'>+</button>
                                <button class='addtocart{{pos}}'>ADD TO CART</button>
                                <button class='minus{{pos}}'>-</button>

                                <script>
                                    $(document).ready(function() {
                                      $(".plus{{pos}}").hide();
                                      $(".minus{{pos}}").hide();

                                      {% if item_cart and item_cart[item.name] %}
                                        $(".plus{{pos}}").show();
                                        $(".minus{{pos}}").show();
                                        $(".addtocart{{pos}}").text("{{item_cart[item.name]}}");
                                      {% endif %}


                                    });
                                    $(".addtocart{{pos}}").click(function () {
                                        $(this).text(function(i, v){
                                           $(".plus{{pos}}").show();
                                           $(".minus{{pos}}").show();
                                           if (v == "ADD TO CART") {
                                            var cur = 1;
                                           $.ajax({
                                            type: "POST",
                                            url: "/additem",
                                            dataType: 'json',
                                            data: JSON.stringify({"item": "{{ item.name }}", "quantity": cur.toString()})
                                          })
                                          .always(function (data) {
                                            if (data["status"] == 0) {
                                              alert("Please log in");
                                              cur = 0;
                                            } else {
                                              var qnt = data["number"];
                                              $(".itemCount").text(qnt);
                                            }
                                          });
                                          
                                           return v = cur;
                                           } else {
                                             return v;
                                           }
                                        })
                                    });
                                    $(".plus{{pos}}").click(function () {
                                        $(".addtocart{{pos}}").text(function(i, v) {
                                          cur = parseInt(v) + 1;
                                         $.ajax({
                                          type: "POST",
                                          url: "/additem",
                                          dataType: 'json',
                                          data: JSON.stringify({"item": "{{ item.name }}", "quantity": cur.toString()})
                                        })
                                        .always(function (data) {
                                          if (data["status"] == 0) {
                                            alert("Please log in");
                                          } else {
                                            var qnt = data["number"];
                                            $(".itemCount").text(qnt);
                                          }
                                        });
                                          return v = cur;
                                        })
                                    });
                                    $(".minus{{pos}}").click(function () {
                                        $(".addtocart{{pos}}").text(function(i, v) {
                                          var cur = parseInt(v) - 1;
                                          $.ajax({
                                            type: "POST",
                                            url: "/additem",
                                            dataType: 'json',
                                            data: JSON.stringify({"item": "{{ item.name }}", "quantity": cur.toString()})
                                          })
                                          .always(function (data) {
                                            if (data["status"] == 0) {
                                              alert("Please log in");
                                            } else {
                                              var qnt = data["number"];
                                              $(".itemCount").text(qnt);
                                            }
                                          });
                                          if (cur == 0) {
                                            cur = "ADD TO CART"
                                            $(".plus{{pos}}").hide();
                                            $(".minus{{pos}}").hide();
                                          }

                                          return v = cur;
                                        })
                                    });
                                </script>
                          </div>
                      </div>
                  {% set pos = pos + 1 %}
              {% endfor %}
            {% endif %}
{% endblock %}
