{% extends "base.html" %}
{% block body %} 
  <br/>
                          <script>
                            function popupwindow(item_name, item_price, item_description) {
                              new Messi(item_description + "<br/>Price = $" + item_price, {title: item_name, modal: true});
                            }
                          </script>

       
          {% if items %}

<!-- Page Content -->
    <div class="container">

      <hr>

       
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
        {% set pos = 0 %}
              {% for item in items %}
                <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="" onclick="popupwindow('{{item.name}}', '{{item.price|round|int}}', '{{item.description}}')">
                    <div class="caption">
                           <h3>{{ item.name }}</h3>
                        <p>${{ item.price|round|int}}</p>
                        <p>
                          <div class = "addcenter">
                                <button class='plus{{pos}}'>+</button>
                                <button class='addtocart{{pos}}'>ADD TO CART</button>
                                <button class='minus{{pos}}'>-</button></div>
                        </p>
                        {% if user %}
                                <script>
                                    $(document).ready(function() {
                                      $(".plus{{pos}}").hide();
                                      $(".minus{{pos}}").hide();
                                      {% if item_cart and item_cart[item.name] %}
                                        $(".plus{{pos}}").show();
                                        $(".minus{{pos}}").show();
                                        $(".addtocart{{pos}}").text("{{(item_cart[item.name]/item.price)|round|int}}");
                                      {% endif %}
                                    });
                                    $(".addtocart{{pos}}").click(function () {
                                        $(this).text(function(i, v){
                                          var cur = v;
                                          {% if user %}                                               
                                             cur = 1;
                                             
                                             $(".plus{{pos}}").show();
                                             $(".minus{{pos}}").show();

                                             if (v == "ADD TO CART") {
                                                $.ajax({
                                                  type: "POST",
                                                  url: "/additem",
                                                  dataType: 'json',
                                                  data: JSON.stringify({"item": "{{ item.name }}", "quantity": cur.toString(), "price": "{{ item.price }}"})
                                                })
                                                .always(function (data) {
                                                  if (data["status"] == 0) {
                                                    alert("Please log in");
                                                    $(".plus{{pos}}").hide();
                                                    $(".minus{{pos}}").hide();
                                                  } else {
                                                    cur = 1;
                                                    var qnt = parseInt(data["number"]);
                                                    $(".itemCount").text(qnt.toString());
                                                  }
                                                });
                                             } 
                                           {% else %}
                                              alert("Please log in");
                                          {% endif %}
                                         return v = cur; 
                                        })
                                    });
                                    $(".plus{{pos}}").click(function () {
                                        $(".addtocart{{pos}}").text(function(i, v) {
                                          cur = parseInt(v) + 1;
                                         $.ajax({
                                          type: "POST",
                                          url: "/additem",
                                          dataType: 'json',
                                          data: JSON.stringify({"item": "{{ item.name }}", "quantity": cur.toString(), "price": "{{ item.price }}"})
                                        })
                                        .always(function (data) {
                                          if (data["status"] == 0) {
                                            alert("Please log in");
                                          } else {
                                            var qnt = parseInt(data["number"]);
                                            $(".itemCount").text(qnt.toString());
                                          }
                                        });
                                          return v = cur;
                                        })
                                    });
                                    $(".minus{{pos}}").click(function () {
                                        $(".addtocart{{pos}}").text(function(i, v) {
                                          var cur = parseInt(v) - 1;
                                          $.ajax({
                                            type: "POST",
                                            url: "/additem",
                                            dataType: 'json',
                                            data: JSON.stringify({"item": "{{ item.name }}", "quantity": cur.toString(), "price": "{{ item.price }}"})
                                          })
                                          .always(function (data) {
                                            if (data["status"] == 0) {
                                              alert("Please log in");
                                            } else {
                                              var qnt = parseInt(data["number"]);
                                              $(".itemCount").text(qnt.toString());
                                            }
                                          });
                                          if (cur == 0) {
                                            cur = "ADD TO CART"
                                            $(".plus{{pos}}").hide();
                                            $(".minus{{pos}}").hide();
                                          }

                                          return v = cur;
                                        })
                                    });
                                </script>
                                {% set pos = pos + 1 %}
                          {% endif %}
                    </div>
                </div>
            </div>
              {% endfor %}
              </div></div>
            {% endif %}



{% endblock %}
