{% extends "base.html" %}
{% block body %} 
  <br/>
                          <script>
                            function popupwindow(item_name, item_price, item_description) {
                              new Messi(item_description + "<br/>Price = $" + item_price, {title: item_name, modal: true});
                            }
                          </script>

        {% set pos = 0 %}
          {% if items %}
              {% for item in items %}
                  {% if pos is divisibleby 5 %}
                    {% if pos == 0 %}
                    {% else %}
                  </div>

                    {% endif %}
                    {% if pos == items_size %}
                    {% else %}
                  <div class = "row">
                    {% endif %}
                  {% endif %}
                      <div class = "span3 tile" style='margin:3px 3px; text-align:center;'>
                          <img src="/static/apple_logo.png" width="100px" height="100px" onclick="popupwindow('{{item.name}}', '{{item.price|round|int}}', '{{item.description}}')" />
                          <div class="grey_bar">
                              <p class="lead"> {{ item.name }}</p>
                          </div>
                          <div class="grey_bar">
                              <p><center> ${{ item.price|round|int}}</center> </p>
                          </div>
                          <br/>
                          <div class = "addcenter">
                                <button class='plus{{pos}}'>+</button>
                                <button class='addtocart{{pos}}'>ADD TO CART</button>
                                <button class='minus{{pos}}'>-</button>
                                <script>
                                    $(document).ready(function() {
                                      $(".plus{{pos}}").hide();
                                      $(".minus{{pos}}").hide();
                                      {% if item_cart and item_cart[item.name] %}
                                        $(".plus{{pos}}").show();
                                        $(".minus{{pos}}").show();
                                        $(".addtocart{{pos}}").text("{{(item_cart[item.name]/item.price)|round|int}}");
                                      {% endif %}
                                    });
                                    $(".addtocart{{pos}}").click(function () {
                                        $(this).text(function(i, v){
                                          var cur = v;
                                          {% if logged_in %}                                               
                                             cur = 1;
                                             
                                             $(".plus{{pos}}").show();
                                             $(".minus{{pos}}").show();

                                             if (v == "ADD TO CART") {
                                                $.ajax({
                                                  type: "POST",
                                                  url: "/additem",
                                                  dataType: 'json',
                                                  data: JSON.stringify({"item": "{{ item.name }}", "quantity": cur.toString(), "price": "{{ item.price }}"})
                                                })
                                                .always(function (data) {
                                                  if (data["status"] == 0) {
                                                    alert("Please log in");
                                                    $(".plus{{pos}}").hide();
                                                    $(".minus{{pos}}").hide();
                                                  } else {
                                                    cur = 1;
                                                    var qnt = parseInt(data["number"]);
                                                    $(".itemCount").text(qnt.toString());
                                                  }
                                                });
                                             } 
                                           {% else %}
                                              alert("Please log in");
                                          {% endif %}
                                         return v = cur; 
                                        })
                                    });
                                    $(".plus{{pos}}").click(function () {
                                        $(".addtocart{{pos}}").text(function(i, v) {
                                          cur = parseInt(v) + 1;
                                         $.ajax({
                                          type: "POST",
                                          url: "/additem",
                                          dataType: 'json',
                                          data: JSON.stringify({"item": "{{ item.name }}", "quantity": cur.toString(), "price": "{{ item.price }}"})
                                        })
                                        .always(function (data) {
                                          if (data["status"] == 0) {
                                            alert("Please log in");
                                          } else {
                                            var qnt = parseInt(data["number"]);
                                            $(".itemCount").text(qnt.toString());
                                          }
                                        });
                                          return v = cur;
                                        })
                                    });
                                    $(".minus{{pos}}").click(function () {
                                        $(".addtocart{{pos}}").text(function(i, v) {
                                          var cur = parseInt(v) - 1;
                                          $.ajax({
                                            type: "POST",
                                            url: "/additem",
                                            dataType: 'json',
                                            data: JSON.stringify({"item": "{{ item.name }}", "quantity": cur.toString(), "price": "{{ item.price }}"})
                                          })
                                          .always(function (data) {
                                            if (data["status"] == 0) {
                                              alert("Please log in");
                                            } else {
                                              var qnt = parseInt(data["number"]);
                                              $(".itemCount").text(qnt.toString());
                                            }
                                          });
                                          if (cur == 0) {
                                            cur = "ADD TO CART"
                                            $(".plus{{pos}}").hide();
                                            $(".minus{{pos}}").hide();
                                          }

                                          return v = cur;
                                        })
                                    });
                                </script>
                          </div>
                      </div>
                  {% set pos = pos + 1 %}
              {% endfor %}
            {% endif %}
{% endblock %}
