{% extends "base.html" %}
{% block body %} 
{% if item_list %}
<h2>Корзина</h2>
<div class="row">
    <div class="span7 cart_summary">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for item, cost in item_list %}
          <tr>
            <td>{{ item[0].name }}</td>
            <td>{{ (cost/item[0].price)|round|int }} </td>
            <td><a href="/cart"> удалить </a></td>  
        </tr>
          {% endfor %}
        </tbody>
        
        </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                            <th></th>
                            {% for store in store_list %}
                                <th> {{ store.name }} </th>
                            {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item, cost in item_list: %}
                        <tr>
                                <td style = 'font-style:italic;'> {{ item[0].name }} </td>
                                {% set is_found = 0 %}
                                {% for store in store_list %}
                                    {% if store.name in store_sum and store_sum[store.name] == min_sum %}
                                        {% set my_color = "yellow" %}
                                    {% else %}
                                        {% set my_color = "white" %}
                                    {% endif %}
                                    {% for it in item %}
                                        {% if it.store == store.name %}
                                            <td style = 'background-color:{{ my_color }};'> $ {{ (it.price * cost / item[0].price)|round|int }} </td>
                                            {% set is_found = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr style = 'font-weight:bold;'>
                        <td>Сумма</td>

                        {% for store in store_list %}
                            {% if store.name in store_sum and store_sum[store.name] == min_sum %}
                                {% set my_color = "yellow" %}
                            {% else %}
                                {% set my_color = "white" %}
                            {% endif %}
                            {% if store.name in store_sum %}
                                <td style = 'background-color:{{ my_color }};'>$ {{ store_sum[store.name] }}</td>
                            {% else %}
                                <td>n/a</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>


    </div>
    <div class="span4 checkout_btns">
        <ul>
            <li><a href="/checkout" class="btn btn-large btn-primary">Подтвердить покупку &rarr; </a></li>
            <li><a href="/" class="btn btn-large btn-primary">Продолжить покупку </a></li>
        <ul>
    </div>
</div>
{% else %}
<h3>Your shopping cart is empty :( </h3>
{% endif %}
{% endblock %}
