{% extends "base.html" %}
{% block body %} 
{% if item_list %}
<h2>Корзина</h2>
<div class="row">
    <div class="span7 cart_summary">
        
            <table class="table table-hover">
                <thead>
                    <tr>
                            <th></th>
                            {% for store in store_list %}
                                <th> {{ store.name }} </th>
                            {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item, cost in item_list: %}
                        <tr >
                                <td style = 'font-style:italic;'> {{ item[0].name }} </td>
                                
                                {% set is_found = 0 %}
                                {% set items_sorted = item|sort(attribute='price') %}
                                {% for p in item %}
                                    {% if p.price == items_sorted[0].price %}
                                        
                                    {% endif %}
                                {% endfor %}
                                {% for store in store_list %}
                                  {% for it in item %}
                                        {% if it.store == store.name %}
                                            <td {% if it.price == items_sorted[0].price  %} style = 'background-color:rgba(10, 255, 0, 0.6);color:white;' {%endif%}{% if it.price == items_sorted[1].price  %} style = 'background-color:rgba(0, 80, 255, 0.6);color:white;'{% endif %}> {{ (it.price * cost / item[0].price)|round|int }} </td>
                                            {% set is_found = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr style = 'background-color:rgba(0,0,0,0.7); color:white;font-weight:bold;'>
                        <td >Сумма</td>

                        {% for store in store_list %}
                            {% if store.name in store_sum and store_sum[store.name] == min_sum %}
                                {% set my_color = "green" %}
                            {% else %}
                                {% set my_color = "white" %}
                            {% endif %}
                            {% if store.name in store_sum %}
                                <td {% if my_color=="green" %} style = 'background-color:rgba(10, 255, 0, 0.6);color:white;' {% endif %}> {{ store_sum[store.name] }} тг </td>
                            {% else %}
                                <td>n/a</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>


    </div>
    <div class="span4">
            <p><a href="/checkout" class="btn btn-large btn-primary">Подтвердить покупку &rarr; </a></p>
            <p><a href="/" class="btn btn-large btn-primary">Продолжить покупку &larr; </a></p>
            <p><a href="/empty_cart" class="btn btn-large btn-primary">Очистить корзину </a></p>
    </div>
</div>
{% else %}
<h3>Корзина пустая :( </h3>
{% endif %}
{% endblock %}
