{% extends "base.html" %}

{% block body %}

<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    {% if status|length == 2 %}
         <p style="color: green;">Ваши данные обновлены</p>
    {% elif status|length > 0 %}
         <p style="color: red;">Неверный номер телефона</p>
    {% endif %}
    <form role="form" action="/profile" method="POST">
      <h2>Обновить профайл </h2>
      <hr class="colorgraph">
          
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="form-group">
              <p class="input-lg"> Супермаркет с макс. приоритетом: </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
              <select name="choose_market" tabindex="7" value="{{m_user.store_id}}}" class="form-control input-lg">
                    {% for store in stores_list %}
                      <option >{{store.name}}</option>
                  {% endfor %}
              </select>

            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-4">
            <div class = "form-group">
              <p class="input-lg"> Адрес: </p>
            </div>
          </div>
          <div class = "col-md-8">
            <div class = "form-group">
              <input type = "text" class="form-control input-lg" name = "address" value="{{address}}" placeholder = "напр. мкр. Самал, 26/14" tabindex="8">
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-4">
            <div class = "form-group">
              <p class="input-lg"> Телефон: </p>
            </div>
          </div>
          <div class = "col-md-8">
            <div class = "form-group">
              <input type = "text" class="form-control input-lg" name = "telephone" value="{{telephone}}" placeholder = "напр. +77771234567" tabindex="9">
            </div>
          </div>
        </div>
      <div>
      <p style="color: #601000">
      {{ form_result }}
      </p>
      </div>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-md-12"><input type="submit" value="Обновить" class="btn btn-primary btn-block btn-lg" tabindex="10"></div>
      </div>
    </form>
  </div>
</div>

</div>

{% endblock %}